* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgb(184, 184, 159);
    background-image: url(./image/typewriter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

#book-list {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(233, 233, 210, 0.8);
    border: 1px solid rgb(0, 0, 0);
    padding: 2rem;
}

.book-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    min-height: 15rem;
    min-width: 0;
    width: 9rem;
    text-align: center;
    background-color: rgb(211, 183, 147, 0.95);
    border: 2px solid rgba(201, 166, 120, 0.65);
    border-left: 20px solid rgba(168, 144, 112, 0.65);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    padding: 1rem;
}

.book-div > p:first-child {
    font-weight: bold;
}

.book-div > p {
    word-wrap: break-word;
}

dialog {
    padding: 2rem;
}

form {
    display: inline;
}

.remove, #submit, #close {
    width: 5rem;
    height: 2rem;
    margin: 10px;
}

.remove-div {
    display: flex;
    justify-content: center;
}

form > div:nth-of-type(n + 1) {
    margin-bottom: 1rem;
}

#read-div {
    display: flex;
    margin-top: 1rem;
}

#read-div {
    display: flex;
    justify-content: center;
}

div > #read {
    margin-right: 0.25rem;
}

#add {
    background-color: rgb(168, 105, 120);
    border-radius: 10%;
    box-shadow: 5px 5px #a06060;
    font-size:larger;
    width: 8rem;
    margin: 3rem;
    padding: 0.5rem;
}





