
#page {
    margin: 0;
    padding: 0;

    display: flex;
    height: 100vh;

    --tab-hover: rgb(240, 229, 229);
    --todo-border-color: 2px solid rgba(190, 189, 189, 0.75)
}

/* selectors for sidebar module */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1rem;
    border-right: var(--todo-border-color);
   
}

.sidebar #add-proj-tab {
    display: flex;    
    align-items: center; 
}

.sidebar #add-proj-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    margin: 0.25rem;
    background: url(./images/plus-sign.svg);
    
}

/* selectors for content module */

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    padding: 1rem;
}

/* selector for project module */
.project-tab {
    display: flex; 
    flex-direction: column;
    justify-items: center; 
    height: 2rem;
    padding: 0.2rem;
    
}

.project-tab:hover {
    background-color: rgb(240, 229, 229);
}

/* selector for content header */

.proj-header-div {
    height: 3.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.proj-title {
    margin-left: 2rem;
}

/* selector for content navbar */

.content-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    position: fixed;
    width: 100vw;
    height: 4rem;
    padding: 1.75rem;
    bottom: 0;  
}

.content-navbar button {
    width: 25rem;
    height: 5rem;
    border: 0.1px solid rgb(141, 139, 139);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem 2rem;
}

.content-navbar button:hover {
    background-color: rgb(186, 227, 227);
}

.content-navbar button:active {
    background-color: rgb(103, 158, 158);
}
.content-navbar #add-todo-btn {
    background-image: url(./images/plus.svg);
}

.content-navbar #calendar-btn {
    background-image: url(./images/calendar.svg);
}

.content-navbar #delete-proj-btn {
    background-image: url(./images/close-octagon.svg);
}


/* selectors for todo module */


.todo-div {
    margin: 1.5rem;
}

.todo-prev-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    border-bottom: var(--todo-border-color);
}

.todo-prev-div.complete {
    text-decoration: line-through;
}

.preview-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 25%;
    margin-right: 1rem;
}

.setting-btn {

    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;

    background-repeat: repeat;
    border: none;
}

.edit-btn {
    background: url(./images/edit.svg);
}

.delete-btn {
    background: url(./images/delete.svg);
}

/* selector for svg files */

/* selector for modal and form div */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

.modal-form-div {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 40%;
    float: left;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.create-todo .modal-form-div {
    background-color: blue;
}



.form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}



.form .close-btn {
    width: 2rem;
    text-align: center;
    
    background-color: rgb(255, 255, 255);
    border: none;
}



.submit-btn {
    padding: 0.5rem;
}